################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DocumentOrganizer/.vs/DocumentOrganizer/DesignTimeBuild/.dtbcache
